<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- semantic-ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <title>Blog App</title>
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                <i class="terminal icon"></i>
                Blog Site
            </div>
            <a href="/blogs" class="active item">
                Home
            </a>
            <a href="/blogs/new" class="item">
                New Post
            </a>
            <div class="right menu">

            </div>
        </div>
    </div>